/.vs
*.suo
/SistemaMonitoramento.API/bin
/SistemaMonitoramento.API/obj
/SistemaMonitoramento.Model/bin
/SistemaMonitoramento.Model/obj
/SistemaMonitoramento.DataAccess/bin
/SistemaMonitoramento.DataAccess/obj
/SistemaMonitoramento.Util/bin
/SistemaMonitoramento.Util/obj
/SistemaMonitoramento.Sql/bin
/SistemaMonitoramento.Sql/obj