<div id="divRender">   
    
</div>

<script>
    $(document).ready(function () {
        Atualizacao();
        setInterval(Atualizacao,10000);
    });


    function Atualizacao() {
        $.ajax({
            url: "@Url.Content("/Home/Dashboard/Visualizar")",
            data: {},
            dataType: 'html',
            success: function (data) {
                $('#divRender').html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log('erro');
            }
        });
    }
</script>