<div class="table-responsive">
    <table id="Tabela" class="table table-hover table-row-bordered gy-5">
    </table>
</div>


<script>

    var _tabela;

    $(document).ready(function () {

        _tabela = $('#Tabela').DataTable({

            buttons: [
                {
                    text: '<i class="bi bi-plus-circle fs-4 me-2"></i> Novo',
                    className: 'btn-primary',
                    action: function (e, dt, node, config) {
                        Form();
                    }
                }
            ],
            columns: [
                {
                    data: "tela_i_id", render: function (data, type, row, meta) { return '<a href="javascript:void(0)" title="Editar" onclick="Form(' + data + ')"  data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top"><span class="svg-icon svg-icon-2 svg-icon-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="black"/><path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="black"/></svg></span></a>'; }
                    , title: '', className: "center", width: "3%", orderable: false
                },
                {
                    data: "tela_i_id", render: function (data, type, row, meta) { return '<a href="javascript:void(0)" title="Excluir" onclick="Excluir(' + data + ', \'' + row.tela_s_titulo + '\')"  data-bs-toggle="tooltip" data-bs-custom-class="tooltip-dark" data-bs-placement="top"><span class="svg-icon svg-icon-2 svg-icon-danger"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black"/><rect x="7" y="15.3137" width="12" height="2" rx="1" transform="rotate(-45 7 15.3137)" fill="black"/><rect x="8.41422" y="7" width="12" height="2" rx="1" transform="rotate(45 8.41422 7)" fill="black"/></svg></span></a>'; }
                    , title: '', className: "center", width: "3%", orderable: false
                },
                { data: 'tela_s_controller', title: 'Controller', className: "left", width: "24%" },
                { data: 'tela_s_path', title: 'Path', className: "left", width: "30%" },
                { data: 'tela_s_titulo', title: 'Título', className: "left", width: "40%" },                
            ],
            order: [[1, 'asc']],

            // Não alterar daqui para baixo

            dom: "<'row'<'col-sm-3 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'B><'col-sm-9 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'f>>" +
                "<'row mb-2 '<'col-sm-12'tr>>" +
                "<'row'<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'li><'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>>",
            proccessing: true,
            serverSide: true,
            info: true,
            scrollY: 535,
            lengthMenu: [
                [50, 100, 200],
                [50, 100, 200],
            ],
            drawCallback: function (settings) {
                $('[data-bs-toggle="tooltip"]').tooltip();
            },
            language: {
                url: "@Url.Content("~/content/datatables/pt-br.json")",
            },
            ajax: {
                url: "@Url.Action("GridJson", "CA002")",
                dataSrc: "data",
                type: "POST"
            },
        });



    });

</script>
